body {
  margin: 0;

  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
}

.likeBtn {
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.likeBtn:hover {
  background-color: #00ff00;
}

#likeCount {
  font-weight: bold;
  margin-left: 8px;
}


.recipeCardsContainer {
  display: flex;
  gap: 0.5rem;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 14rem;
  padding: 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}

.recipeModal {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 14rem;
  padding: 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}

.recipeCard figure,
.recipeModal figure {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  /* gap: 2rem; */
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  margin: 0;
}

.recipeImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipeCard figure img,
.recipeModal figure img {
  box-sizing: border-box;
  max-height: 10rem;
  width: auto;
  max-width: 100%;
}

.recipeInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.recipeInfo button {
  background-color: white;
  border-width: 0.5px;
}

.recipeCard .iconContainer,
.recipeModal .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
}

.recipeCard .iconContainer svg,
.recipeModal .iconContainer svg {
  width: 1.5rem; /* same as container height */
  height: 1.5rem;
  border-radius: 1.5rem;

  padding: 0.25rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: white;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Slightly transparent background */
  border-radius: 8px;
  margin-top: 2rem;
  width: 100%;
  max-width: 300px; /* Keeps it compact */
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form button {
  padding: 0.5rem 1rem;
  background-color: #ff7e5f; /* Matches your background gradient */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #feb47b; /* Slightly lighter on hover */
}
